/* 
# File Name: Partial File for Fonts
## Description: Defining Fonts to be used. Some basic writing & naming conventions to be followed.

### Writing & Naming Variables:
  Use lowercase, hyphenated names for variables. No underscores allowed.
  Follow alphabetical order as much as possible.

### Setting the Font Families:
  Naming Convention to be used: $font-family-PURPOSE.
  For example, $font-family-serif, $font-family-sans; or $font-family-web, $font-family-owners-dashboard
  
### Font Sizes:
  We should always set a bas font size, to be applied on <html>.

### Font Weights:

Last Edited by: Siddhesh Thadeshwar<siddhesh@homestayz.in>
Last Edited on: July 29, 2015
*/

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-family: 'Roboto';

body {
  font-family: $font-family;
  line-height: 1.2;
}

body,
p {
  font-size: 16px;
  font-weight: $font-normal;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

p.lead {
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

p.small {
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

h1 {
  font-size: 48px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 40px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h4 {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $font-bold;
}

/* # Leave a new line at the end of every file. */
