/*
# File Name: Partial File for PURPOSE

## Description: Add a one line description for this file. Eg: Basic writing & naming conventions to be followed.

### Some Heading Here:
  List out points.
  One below the other. Some points can be followed by examples.
  For example, #eeccbb can be written as #ecb.

### Example Heading - Naming Conventions:
  Naming Convention to be used: $primary-PURPOSE & $secondary-PURPOSE.
  For example, $primary-web and $primary-owners-dashboard.

Last Edited by: Siddhesh Thadeshwar<siddhesh@homestayz.in>
Last Edited on: July 29, 2015
*/

//For Mobile Number with Country Code
#CountryCode, #MobileNumber {
    display: inline-block;
}
#MobileNumber {
    max-width: 90%;
    float: right;
}
#CountryCode {
    max-width: 10%;
    float: left;
    color: #000;
    text-align: center;
}


/* # Leave a new line at the end of every file. */
