/* For New Owners page */

.navbar-nav .nav-item + .nav-item {
	margin-left: 3rem;
}

.navbar-nav .nav-item.active {
	background-color: $primary-color;
	padding: 0 1em;
	font-weight: medium;
}

.bg-gradient {
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
  background-image: -webkit-gradient(linear,0,100%,from(rgba(0,0,0,.4)),to(rgba(0,0,0,0)));
  background-image: -ms-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
  background-image: linear-gradient(top,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
  background-repeat: repeat-x;
}

.cover {
	padding-top: calc(25vh);
	.row {
		.col-xs-12.col-md-6 {
			background-color: transparent;
			color: #fff;
			padding: 3em;
		}
	}
}
