/*
# File Name: Partial File for Typography
## Description: Defining Fonts to be used. Some basic writing & naming conventions to be followed.

### Writing & Naming Variables:
  Use lowercase, hyphenated names for variables. No underscores allowed.
  Follow alphabetical order as much as possible.

### Setting the Font Families:
  Naming Convention to be used: $font-family-PURPOSE.
  For example, $font-family-serif, $font-family-sans; or $font-family-web, $font-family-owners-dashboard

### Font Sizes:
  We should always set a base font size, to be applied on <html>.

### Font Weights:

Last Edited by: Siddhesh Thadeshwar<siddhesh@homestayz.in>
Last Edited on: August 4, 2016
*/

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$font-family: 'Roboto';

$base-font-size: '14px';

// /* Font-weight */
// .light	{	font-weight: $font-light;		}
// .normal	{ font-weight: $font-normal;	}
// .medium { font-weight: $font-medium;	}
// .bold		{ font-weight: $font-bold;		}

html,
body {
  font-family: $font-family;
  line-height: 1.5;
  font-size: 14px;
}

body,
p {
  font-weight: $font-normal;
  // not scaling body and p font
  // @media (max-width: 768px) {
  //   font-size: 12px;
  // }
}

p.lead {
  font-size: 18px;
  font-weight: $font-light;
  // not scaling p.lead
  // @media (max-width: 768px) {
  //   font-size: 16px;
  // }
}

p.small {
  font-size: 12px;
  font-weight: $font-normal;
  // not scaling p.small
  // @media (max-width: 768px) {
  //   font-size: 10px;
  // }
}

h1 {
  font-size: 42px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;
  font-weight:$font-light;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 21px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h4 {
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: $font-bold;
}

/* # Leave a new line at the end of every file. */
