/*
# File Name: Partial File for z-index

## Description: Defining z-index points that should be used.

### Why z-index variables:
  Use only the values defined in this file to prevent any conflicts that can
  arise by using arbitrary values.
  Two types of variables will be created: scale variables and application
  variables.

### Naming Conventions:
  Naming Convention to be used:
  $zIndex-N for scale variables &
  $zIndex-PURPOSE for application variables.
  For example, $zIndex-1 and $zIndex-navbar.

Last Edited by: Siddhesh Thadeshwar<siddhesh@homestayz.in>
Last Edited on: August 4, 2016
*/

/* Example Rules. Edit, Reduce and Remove. Keep only those required. */

// z-index scale
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

// z-index applications
$zIndex-sidebar : $zIndex-10;
$zIndex-tooltips : $zIndex-10;
$zIndex-notifications : $zIndex-9;
$zIndex-navbar : $zIndex-8;
$zIndex-dropdown : $zIndex-7;
$zIndex-dropdownMask : $zIndex-6;
$zIndex-portlet : $zIndex-6;

/* # Leave a new line at the end of every file. */
